<div class="container" ng-controller="noteBookCtrl as nb">
    <a href="#myPopUp" id="buttonAdd" data-toggle="modal" ng-click='nb.add()'>ДОБАВИТЬ ЗАПИСЬ</a>
    <input type="text" id="filterInput" placeholder="ПОИСК" ng-model="nb.filterBySite">
    <div id="myPopUp" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content" id="popUp">
                <div class="modal-body">
                    <p id="formTitle">Добавить Запись</p>
                    <hr color="#2c3e50" style="width:20%;">
                    <center>
                        <input id="site" class="input-xlarge" type="text" ng-model="nb.currentInf.site" placeholder="САЙТ" oninput="validate()" required>
                        <input id="login" class="input-xlarge" type="text" ng-model="nb.currentInf.login" placeholder="ЛОГИН" oninput="validate()" required>
                        <input id="password" class="input-xlarge" type="text" ng-model="nb.currentInf.pass" placeholder="ПАРОЛЬ" oninput="validate()" required>
                       
                    </center>
                    <center>
                        <button onClick="validate()" type="submit" class="btnForm" data-dismiss="modal" style="margin:30px 0 20px 0" name="popBtn" ng-click="nb.save()" disabled>СОХРАНИТЬ</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div id="changePopUp" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content" id="popUp">
                <div class="modal-body">
                    <p id="formTitle">Изменить Запись</p>
                    <hr color="#2c3e50" style="width:20%;">

                    <center>
                        <input id="site" class="input-xlarge" type="text" ng-model="nb.currentInf.site" placeholder="САЙТ" required>
                        <input id="login" class="input-xlarge" type="text" ng-model="nb.currentInf.login" placeholder="ЛОГИН" required>
                        <input id="password" class="input-xlarge" type="text" ng-model="nb.currentInf.pass" placeholder="ПАРОЛЬ" required>
                    </center>

                    <center>
                        <button type="submit" class="changeBtn" data-dismiss="modal" style="margin:30px 0 20px 0" name="popBtn" ng-click="nb.save()">СОХРАНИТЬ</button>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding:20px 0 0 0">

        <table class="table">
            <thead>
                <tr>
                    <th ng-click="nb.sort('site')">Сайт</th>
                    <th>Логин</th>
                    <th>Пароль</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="row in nb.diary | filter: {site: nb.filterBySite } | orderBy:nb.sortField:nb.reverse" ng-click="nb.edit(row)">
                    <td> <a href="#changePopUp" data-toggle="modal" id="changelink"><span ng-bind="row.site"></span></a></td>
                    <td><span ng-bind="row.login"></span></td>
                    <td><span ng-bind="row.pass"></span></td>
                </tr>

            </tbody>
        </table>

    </div>
</div>