<div class="container" ng-controller="ContactsCtrl as cc">
    <div class="col-md-12 offset-from-top">
        <!-- Button trigger modal -->
        <a href="#myModal" type="button" id="buttonAdd" data-toggle="modal" style="margin-bottom: 30px; margin-right: 20px;" ng-click="cc.add()">
            Добавить новый контакт</a>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">{{cc.buttonText}} контакт</h4>
                    </div>
                    <div class="modal-body">
                        <form action="" method="">
                            <div class="form-group">
                                <label for="inputFirstName">Имя {{cc.modCheck[0]}}<span style="color: red;">*</span></label>
                                <input type="text" ng-change="cc.valid(cc.rowContact)" ng-class="{validation: cc.modCheck[0]}" class="form-control" id="inputFirstName" placeholder="Имя" ng-model="cc.rowContact.firstname">
                            </div>
                            <div class="form-group">
                                <label for="inputLastName">Фамилия <span style="color: red;">*</span></label>
                                <input type="text" ng-change="cc.valid(cc.rowContact)" ng-class="{validation: cc.modCheck[1]}" class="form-control" id="inputLastName" placeholder="Фамилия" ng-model="cc.rowContact.lastname">
                            </div>
                            <div class="form-group">
                                <label for="inputTelephoneNumber">Номер телефона {{cc.modCheck[2]}}<span style="color: red;">*</span></label>
                                <input type="text" ng-change="cc.valid(cc.rowContact)" ng-class="{validation: cc.modCheck[2]}" class="form-control" id="inputTelephoneNumber" placeholder="Номер телефона" ng-model="cc.rowContact.tel">
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Почтовый адрес {{cc.modCheck[3]}}<span style="color: red;">*</span></label>
                                <input type="email" ng-change="cc.valid(cc.rowContact)" ng-class="{validation: cc.modCheck[3]}" class="form-control" id="inputEmail" placeholder="Example: iriska@gmail.com" ng-model="cc.rowContact.email">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="cc.save()" ng-bind="cc.buttonText"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>
                        Имя
                        <button class="btn btn-default btn-xs" ng-click="cc.sort('firstname')">
                            <i class="glyphicon glyphicon-sort-by-attributes"></i>
                        </button>
                    </th>
                    <th>
                        Фамилия
                        <button class="btn btn-default btn-xs" ng-click="cc.sort('lastname')">
                            <i class="glyphicon glyphicon-sort-by-attributes"></i>
                        </button>
                    </th>
                    <th>Номер телефона</th>
                    <th>Почтовый адрес</th>
                    <th>Действия</th>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="text" class="form-control" placeholder="ПОИСК ПО ИМЕНИ" ng-model="cc.filterByFirstname">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="ПОИСК ПО ФАМИЛИИ" ng-model="cc.filterByLastname">
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in cc.contacts | orderBy:cc.sortBy:true | filter: {firstname: cc.filterByFirstname, lastname:cc.filterByLastname}">
                    <th ng-bind="contact.index"></th>
                    <td ng-bind="contact.firstname"></td>
                    <td ng-bind="contact.lastname"></td>
                    <td ng-bind="contact.tel"></td>
                    <td ng-bind="contact.email"></td>
                    <td>
                        <button class="btn btn-danger btn-xs" ng-click="cc.delete(contact)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                        <a href="#myModal" data-toggle="modal" class="btn btn-info btn-xs" ng-click="cc.edit(contact)">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
