<div class="container wrap" ng-controller="TodoCtrl as td">
    <div class="panel panel-default">
        <div class="panel-heading">Note ToDo</div>
        <p id="response"></p>
        <!-- Table -->
        <table class="table" id="testik">
            <thead>
                <tr>
                    <th></th>
                    <th>Задача</th>
                    <th>Важность</th>
                    <th>Дата</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in td.rows">
                    <td align="center" width="30">
                        <input type="checkbox" name="check1">
                    </td>
                    <td>
                        <span ng-bind="row.task"></span>
                    </td>
                    <td width="165px">
                        <select name="task1" class="form-control">
                            <option ng-repeat="opt in td.import" value="{{opt.value}}">{{opt.text}}</option>
                        </select>
                    </td>
                    <td width="110px">
                        <span ng-bind="row.date"></span>
                    </td>
                    <td width="60px">
                        <button class="btn btn-default" name="save1" onclick="SendGet(this);"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
                    </td>
                    <td width="60px">
                        <button class="btn btn-default" name="delete1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
